@import url('https://fonts.googleapis.com/css?family=Yantramanav:100');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400');
html, body{
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}
body {
  clear: both;
}
.intro {
  height: 100%;
  width: 100%;
  margin-left:auto;
  margin-right:auto;
  z-index: 1;
}

.content {
  font-size: 140%;
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
  padding-top: 10%;
  z-index: 2;
  position: relative;
  transition: all 1s;
  display: block;
}
.content h2 {
  font-size: 300%;
  letter-spacing: 10px;
  font-family: 'Prompt', sans-serif;
}


.fadein img {
  position: absolute;
  left:0;
  top:0;
  height: 100%;
  width: 100%;
}
.fadein {
  clear: both;
}

.scroll-down {
  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;
}

.navbar-fixed {
  top: 0;
  z-index: 100;
  position: fixed;
  width: auto;
  transition: all .3s;
}

#nav_bar {
  top: 0;
  border: 0;
  z-index: 100;
  border-radius: 0px;
  margin-bottom: 0;
  height: 50px;
}

.nav_links {
  list-style-type: none;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 145%;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 9px;
  transition: all 0.5s;
  position: relative;
  z-index: 100;
}

.nav_links li {
  float: left;
  padding: 10px;
}
.email{
  padding: 1px;
  font-size: 56%;
  font-weight: bold;
}
.links {
  padding: 10px;
  color: black;
  text-decoration: none;
  border-radius: 5px;
}
.links:hover{
  transition: all 0.5s;
  color: white;
  background: black;
}
.first {
  color: white;
  margin-top: 13.3%;
  z-index: 2;
  height: 100%;
  width: 100%;
  background: url('img/first.jpg') no-repeat 50% 50%;
  background-size: cover;
}
h4 {
  font-family: 'Berkshire Swash', cursive;
  border-bottom: solid;
  border-bottom-color: #1ae3de;
  width: 30%;
  margin-top: 0%;
  padding-top: 5%;
  padding-bottom: 2%;
  font-size: 300%;
  margin: 0 auto;
}
h5 {
  border-bottom: solid;
  border-bottom-color: #1ae3de;
  width: 30%;
  margin-top: 0%;
  padding-top: 45%;
  padding-bottom: 2%;
  margin: 0 auto;
  font-size: 300%;
  position: relative;
}
.container1 {
  height: 70%;
}
.second h5 {
  font-family: 'Berkshire Swash', cursive;
  margin-top: 0%;
  padding-top: 2.5%;
  padding-bottom: 1%;
  font-size: 300%;
  margin: 0 auto;
  border-width: 5px;
  border-color: black;
}
.prof-pic {
  transition: all .5s;
  height: 300px;
  width: 300px;
  padding-left: 10%;
}
.temp {
  float: left; 
  margin-top: 10%;
}

.second {
  color: black;
  z-index: 1;
  height: 103%;
  width: 100%;
  background: url('img/second.jpg') no-repeat 50% 50%;
  background-size: cover;
}
.pics {
  list-style-type: none;
}
.pics li {
  z-index: 999;
  float: left;
  padding-left: 5%;
  padding-right: 5%;
  transition: all 1s;
}
.pics li:hover {
  z-index: 999;
  padding-right: 1%;
  padding-left: 1%;
}

.port-pic {
  position: relative;
  z-index: 999;
  border: solid;
  border-width: 3px;
  transition: all .5s;
  height: 200px;
  width: 200px;
  transition: all 1s;
}

.port-pic:hover {
  height: auto;
  z-index: 999;
  height: 350px;
  width: 350px;
}

.names {
  width: 100%;
  font-size: 150%;
  list-style-type: none;
}

.names li {
  z-index: 0;
  float: left;
  padding-bottom: 10px;
  padding-left: 8%;
  padding-right: 10%;
}

.text {
  padding-left: 2.7%;
  margin-top: 18%;
  position: absolute;
  width: 95%;
  font-size: 150%;
  list-style-type: none;
}

.text li {
  font-family: 'ABeeZee', sans-serif;
  color: white;
  font-size: 75%;
  border: solid;
  border-width: 1px;
  border-color: grey;
  z-index: 0;
  float: left;
  width: 300px;
  height: 275px;
  padding-left: .8%;
  padding-right: .8%;
  margin-left: 1%;
  margin-right: 1.2%;
  background: rgba(0,0,0,0.9);
}

.text .summary {
  font-size: 300%;
}

.post {
  font-family: 'ABeeZee', sans-serif;
  float: left;
  margin-top: 5%;
  transition: all 0.5s;
  padding-left: 40%;
  padding-bottom: 2%;
  padding-right: 5%;
  width: auto;
  text-align: left;
  position: absolute;
  font-size: 160%;
  overflow: visible;
}

#About{
  padding: 0px;
  margin-top: 200px; 
  height: 100%; 
  padding-left: 15%;
  padding-right: 15%;
}

#Portfolio{
  padding-top: 3%; 
}
#Contact{
  padding: 0px;
  margin: 5%;
  height: 742.4px; 
}

/*--- Media Queries --*/
@media screen and (max-width: 900px){
  .post {
    font-size: 110%;
  }
  .fadein img {
    height: 90%;
  }
  .nav_links {
    padding: 7px 12px;
    font-size: 135%;
  }
  .content{
    padding-top: 20%;
    font-size: 125%;
  }

  .prof-pic {
    border-radius: 50%;
    height: 250px;
    width: 250px;
  }
}
@media screen and (max-width: 768px){
  .fadein img {
    height: 100%;
  }
  .post {
    font-size: 100%;
  }
  .nav_links {
    padding: 5px 0px;
    font-size: 115%;
  }
  .fadein img {
    height: 75%;
  }
  .content{
    font-size: 100%;
  }
  .prof-pic {
    border-radius: 50%;
    height: 200px;
    width: 200px;
  }
  .links {
    padding: 2px;
  }
  h5 {
  font-size: 100%;
  padding-top: 80%;
  }
}
@media screen and (max-width: 515px){
  .fadein img {
    height: 100%;
  }
 .post {
    font-size: 80%;
  }
  .nav_links {
    padding: 0px 0px;
    font-size: 75%;
  }
  .links {
    padding: 0px;
  }
  .content{
    padding-top: 40%;
    font-size: 75%;
  }
  .prof-pic {
    border-radius: 0%;
    height: 150px;
    width: 100px;
  }
  .links {
    padding: 5px
  }
  #About {
    margin-top: 218px;
  }
  .temp {
    margin-top: 70%;
  }
  h5 {
  font-size: 100%;
  padding-top: 195%;
  }