@import url('https://fonts.googleapis.com/css?family=Yantramanav:100');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400');

html, body{
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;

}
.intro{
	height: 100%;
	width: 100%;
	background: url('img/background.jpg') no-repeat 50% 50%;
	background-size: cover;
	display: table;
	top: 0;
}
.intro .inner{
	margin:0 auto;
	margin-top: 100px;
	vertical-align: middle;
	max-width: 500px;
	height: 600px;
	background: rgba(0,0,0,0.4);
}
.content {
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 20%;
	z-index: 2;
	position: relative;
}
.content h1{
	font-family: 'Yantramanav', sans-serif;
	font-size: 600%;
	font-weight: 100;
	color: #e1efe9;
	line-height: 0%;
	padding-top: 50px;
}
.content h2{
	font-weight: 100;
	letter-spacing: 4;
	font-size: 40px;
	color: #e1efe9;

}
.content h3{
	font-weight: 100;
	letter-spacing: 4;
	font-size: 20px;
	color: #e1efe9;
	padding: 0px;

}
.prof-pic {
	border-radius: 50%;
	height: 200px;
	width: 200px;
}
.btn {
	font-family: 'Montserrat', sans-serif;
	font-size: 145%;
	font-weight: 400;
	color: #3a6168;
	text-decoration: none;
	text-transform: uppercase;
	border: solid #3a6168;
	padding: 10px 20px;
	border-radius: 9px;
	transition: all 0.5s;
	position: relative;
	z-index: 2;
}

.btn:hover{
	color: #cbdfd6;
	border: solid #cbdfd6;
}
.parallax-window {
    height: 100%;
    width: 100%;
    background: transparent;
    padding: 1px;
    margin: 0px;
    
}
.parallax-window h4{
	z-index: 2;
	position: relative;
	font-family: 'Montserrat', sans-serif;
	font-size: 250%;
}
.post {
	max-width: 40%;
	padding-left: 2.5%;
	text-align: left;
	padding-bottom: 2%;
	z-index: 2;
	position: relative;
	font-size: 125%;

}
.pics_parallax1{
	position: relative;
	padding-right: 20%;
	padding-bottom: 1%;
	padding-top: 1%;
	z-index: 2;
	height: 225px;

}
.post2 {
	max-width: 40%;
	padding-right: 2.5%;
	text-align: center;
	padding-bottom: 1%;
	z-index: 2;
	position: relative;
	color: white;
	font-size: 100%;
}
.post2list {
	max-width: 40%;
	padding-right: 2.5%;
	text-align: left;
	padding-bottom: 1%;
	z-index: 2;
	position: relative;
	color: white;
	font-size: 100%;
}
.pics_parallax2{
	position: relative;
	padding-left: 15%;
	padding-bottom: 3%;
	padding-top: 3%;
	z-index: 2;
	height: 250px;

}
.post3 {
	max-width: 40%;
	padding-right: 2.5%;
	text-align: center;
	padding-bottom: 2%;
	z-index: 2;
	position: relative;
	color: black;
	font-weight: 300;
}
.pics_parallax3{
	position: relative;
	padding-left: 15%;
	padding-bottom: 3%;
	padding-top: 3%;
	z-index: 2;
	height: 350px;

}
.post4 {
	max-width: 40%;
	padding-left: 2.5%;
	text-align: left;
	padding-bottom: 2%;
	z-index: 2;
	position: relative;
	font-size: 125%;
    color: white;

}
.pics_parallax4{
	position: relative;
	padding-right: 20%;
	padding-bottom: 1%;
	padding-top: 1%;
	z-index: 2;
	height: 225px;

}
.hidden{
     opacity:0;
}
.visible{
     opacity:1;
}
.social-icons {
	font-size: 150px;
	z-index: 2;
	position: relative;
	padding-top: 5%;
	padding-right: 15%;
	padding-bottom: 13%

}

.social-icons a{
	color: white;
}




/*--- Media Queries --*/
@media screen and (max-width: 900px) {
	.content{
		padding-bottom: 30%;
	}
	.content h1{
		font-size: 450%;
	}
	.content h2{
		font-size: 30px;
	}
	.content h3{
		font-size: 15px;
	}
	.btn{
		font-size: 140%;
		padding: 9px 17px;
	}
	.intro .inner{
        max-width: 380px;
        height: 500px;
	}
	.prof-pic {
        border-radius: 50%;
        height: 170px;
        width: 170px;
	}
}
@media screen and (max-width: 768px) {
	.content{
		padding-bottom: 40%;
	}
	.content h1{
		font-size: 300%;
	}
	.content h2{
		font-size: 25px;
	}
	.content h3{
		font-size: 10px;
	}
	.btn{
		font-size: 120%;
		padding: 7px 15px;
	}
	.intro .inner{
		max-width: 260px;
		height: 400px;
	}
	.prof-pic {
	border-radius: 50%;
	height: 140px;
	width: 140px;
	}
}
@media screen and (max-width: 480px) {
	.content{
		padding-bottom: 50%;
	}
	.content h1{
		font-size: 250%;
	}
	.content h2{
		font-size: 20px;
	}
	.content h3{
		font-size: 7px;
	}
	.btn{
		font-size: 100%;
		padding: 6px 14px;
	}
	.intro .inner{
	max-width: 220px;
	height: 340px;
	}
	.prof-pic {
	border-radius: 50%;
	height: 120px;
	width: 120px;
	}
}